<app-header></app-header>
<div class="upload_video">
  <div class="upl_file">
    <input type="file">
    <!-- <input type="file" ng-model="upload_video" on-file-change="showUpload"> -->
    <div class="target">
      <img src="../../../assets/img/upload_button.png" alt="upload_button">
      <p class="descr"><span>Select files to upload</span><br/>
        or drag and drop video files
      </p>
    </div>
  </div>
  <div class="video_thumbnail">
    <h2>All uploads</h2>
    <div class="video_thumbnail__item">
      <div class="video-screen"></div>
      <div class="desciption">
        <p>video description goes here - extend upto 2 lines with a maximum width of this</p>
        <div class="statistics">
          <div class="views">200 views</div>
          <div class="likes">50 likes</div>
          <div class="comments">10 comments</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
