<div class="login">
  <div class="popup">
    <div class="popup_close" (click)="closeModal()">X</div>
    <header class="popup_header">
      Log In
    </header>
    <form class="popup_form">
      <div class="popup_username">
        <input type="text" placeholder="Username or Email">
      </div>
      <div class="popup_password">
        <input type="password" placeholder="Password">
        <span class="popup_password__show">
					show
				</span>
      </div>
      <button class="popup_btn" type="submit">Log In</button>
      <p><span>Don’t have an account? </span><a href="">Download Heartface now</a>
        <img src="../../../../assets/img/icon_smile.png" alt="icon_smile"></p>
    </form>
  </div>
</div>
